<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/facebook.svg" alt="" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" alt="" class="icon-1" />
                </div>
              </a>

              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" alt="" class="icon-1" />
                </div>
              </a>

              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" alt="" class="icon-1" />
                </div>
              </a>

              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" alt="" class="icon-1" />
                </div>
              </a>

              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" alt="" class="icon-1" />
                </div>
              </a>
            </div>
          </div>

          <div class="marginer"></div>
          <div class="left_2">
            <div class="text_1">
              <span class="label">Age:</span>
              <span class="value">24</span>
            </div>
            <div class="text_1">
              <span class="label">Residence:</span>
              <span class="value">BD</span>
            </div>
            <div class="text_1">
              <span class="label">Freelance:</span>
              <span class="value_avaiable">Available</span>
            </div>
            <div class="text_1">
              <span class="label">Address:</span>
              <span class="value">Dhaka, Bangladesh</span>
            </div>
          </div>

          <div class="marginer"></div>
          <div class="left_3">
            <h1 class="language">Languages</h1>
            <div class="left_3_text">
              <span class="label_3">Bangla</span>
              <span class="value_3">100%</span>
            </div>
            <img src="images/line.svg" class="line_3" alt="" />
            <div class="left_3_text">
              <span class="label_3">English</span>
              <span class="value_3">80%</span>
            </div>
            <img src="images/line (7).png" class="line_3" />
            <div class="left_3_text">
              <span class="label_3">Spanish</span>
              <span class="value_3">60%</span>
            </div>
            <img src="images/line.png" class="line_3" alt="" />
          </div>

          <div class="marginer"></div>
          <div class="left_4">
            <h1 class="skills">Skills</h1>
            <div class="left_4_text">
              <span class="label_4">HTML</span>
              <span class="value_4">90%</span>
            </div>
            <img src="images/line (13).png" alt="" />
            <div class="left_4_text">
              <span class="label_4">Css</span>
              <span class="value_4">85%</span>
            </div>
            <img src="images/line (9).png" alt="" />
            <div class="left_4_text">
              <span class="label_4">Js</span>
              <span class="value_4">80%</span>
            </div>
            <img src="images/line (10).png" alt="" />
            <div class="left_4_text">
              <span class="label_4">PHP</span>
              <span class="value_4">75%</span>
            </div>
            <img src="images/line (11).png" alt="" />
            <div class="left_4_text">
              <span class="label_4">WordPress</span>
              <span class="value_4">85%</span>
            </div>
            <img src="images/line (12).png" alt="" />
          </div>

          <div class="marginer"></div>
          <div class="left_5">
            <h1 class="extra">Extra Skills</h1>
            <div class="left_5_text">
              <img src="icon/icons.png" alt="" class="icon_5" />
              <span class="value_5">Bootstrap, Materialize</span>
            </div>
            <div class="left_5_text">
              <img src="icon/icons.png" alt="" class="icon_5" />
              <span class="value_5"> Stylus, Sass, Less</span>
            </div>
            <div class="left_5_text">
              <img src="icon/icons.png" alt="" class="icon_5" />
              <span class="value_5">Gulp, Webpack, Grunt</span>
            </div>
            <div class="left_5_text">
              <img src="icon/icons.png" alt="" class="icon_5" />
              <span class="value_5">GIT Knowledge</span>
            </div>
          </div>

          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="content">
            <img src="images/doctor.png" alt="" class="img_doc" />
            <h1 class="midd_text">
              Doctor neurologists <br />
              in OHSU Hospital
            </h1>
            <p class="midd_text_2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
              Et, volutpat feugiat placerat lobortis. Natoque rutrum
              <br />semper sed suspendisse nunc lectus.
            </p>

            <span class="button_midd"> HIRE ME </span>
            <div class="icon_pack">
              <img src="icon/ellipse 15.svg" alt="" class="ellipse_15" />
              <img src="icon/ellipse 12.svg" alt="" class="ellipse_12" />
              <img src="icon/ellipse 16.svg" alt="" class="ellipse_16" />
              <img src="icon/rectangle 52.svg" alt="" class="rectangle_52" />
              <img src="icon/polygon 1.svg" alt="" class="polygon" />
              <img src="icon/rectangle 51.svg" alt="" class="rectangle_51" />
            </div>
          </div>
          <div class="container_midd">
            <div class="service_header">
              <h1 class="service">My Services</h1>
              <p class="midd_p">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor
                <br />
                Do Amet sint. Velit officia consequat duis enim velit mollit.<br />
                Lorem ipsum
              </p>
            </div>
            <div class="midd_box">
              <div class="service_card">
                <img src="icon/icons_coding.svg" alt="" class="midd_icon" />
                <h2>Web Development</h2>
                <p>Blog, E-commerce</p>
              </div>
              <div class="service_card">
                <img src="icon/group.svg" alt="" class="midd_icon" />
                <h2>Web Development</h2>
                <p>Blog, E-commerce</p>
              </div>
              <div class="service_card">
                <img src="icon/icons_microphone.svg" alt="" class="midd_icon" />
                <h2>Web Development</h2>
                <p>Blog, E-commerce</p>
              </div>
              <div class="service_card">
                <img
                  src="icon/icons_game-development.svg"
                  alt=""
                  class="midd_icon"
                />
                <h2>Web Development</h2>
                <p>Blog, E-commerce</p>
              </div>
              <div class="service_card">
                <img src="icon/vector.svg" alt="" class="midd_icon" />
                <h2>Web Development</h2>
                <p>Blog, E-commerce</p>
              </div>
              <div class="service_card">
                <h2>Advertising</h2>
                <p class="special">
                  Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit.
                  Vitae<br />
                  Nulla diam in ac dictum a urna viverra morbi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="right_box">
            <img src="images/Icons_Contrast.svg" alt="" />
          </div>

          <div class="right_box_2">
            <img src="images/Pop_up.png" alt="" />
          </div>
          <div class="right_box_3">
            <img src="images/home.png" alt="" />
          </div>
          <div class="right_box_4">
            <img src="images/Service.png" alt="" />
          </div>
          <div class="right_box_5">
            <img src="images/Cv.png" alt="" />
          </div>
          <div class="right_box_6">
            <img src="images/portfolio.png" alt="" />
          </div>
          <div class="right_box_7">
            <img src="images/blog.png" alt="" />
          </div>
          <div class="right_box_8">
            <img src="images/contact.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
